@model List<AboutItem>
@{
    ViewData["Title"] = "AboutItems";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<div class="vh-100">
    <div class="col-12">
        <div class="bg-light rounded h-100 p-4">
            <div class="mb-4 d-flex flex-lg-row justify-content-between align-items-center">
                <h6>AboutItem @Model.Count Adet Bulunmaktadır.</h6>
                @if (ViewBag.IsActive)
                {
                    <a href="/admin/about-item-edit" type="button" class="btn btn-outline-success"><i class="fa fa-plus me-2"></i>Yeni Ekle</a>
                }
            </div>

            @if (Model.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Created At</th>
                            <th scope="col">Durumu</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var aboutItem in Model)
                        {
                            <tr>
                                <td>@aboutItem.Title</td>
                                <td>@(aboutItem.Description != null ? aboutItem.Description.Length > 25 ? aboutItem.Description.Substring(0,25) + "..." : aboutItem.Description : null)</td>
                                <td>@aboutItem.CreatedAt</td>
                                <td>
                                    <p class="@(aboutItem.IsActive ? "bg-success" : "bg-danger") table-is-active-baget ">
                                        @(aboutItem.IsActive ? "Aktif" : "Silindi")
                                    </p>
                                </td>
                                <td>
                                    @if (ViewBag.IsActive)
                                    {
                                        <a href="/admin/about-item-edit/@aboutItem.Id" class="m-0 btn btn-sm btn-sm-square btn-outline-warning"><i class="fa fa-pen"></i></a>
                                    }

                                    @if (aboutItem.IsActive)
                                    {
                                        <button data="@aboutItem.Id" data-isActive="@aboutItem.IsActive" type="button" class="aboutItemDeleteOrRestoreDeleteButton m-0 btn btn-sm btn-sm-square btn-outline-danger"><i class="fa fa-trash"></i></button>
                                    }
                                    else
                                    {
                                        <button data="@aboutItem.Id" type="button" class="aboutItemDeleteOrRestoreDeleteButton m-0 btn btn-sm btn-sm-square btn-outline-info"><i class="fa fa-recycle"></i></button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="mb-4 d-flex flex-lg-row justify-content-between align-items-center">
                    <h6>
                        Not: Ana sayfanızda gözükmesini istediğiniz bigilerin aktif olduğundan emin olunuz.
                    </h6>
                </div>
            }

            else
            {
                <div class="mb-4 d-flex flex-lg-row justify-content-between align-items-center">
                    <h6>Kayıtlı Veri Bulunamadı !</h6>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(".nav-link").removeClass("active");

        $("#aboutPageNavItem").addClass("active");
        $("#aboutPageNavItem").addClass("show");
        $(".about-page-nav-item-menu").addClass("show");

        $(".aboutItemDeleteOrRestoreDeleteButton").click(function() {
            var aboutItemSettingId = $(this).attr("data");
            var aboutItemSettingIsActive = $(this).attr("data-isActive");

            console.log(aboutItemSettingId);

            swal({
                title: aboutItemSettingIsActive ? "Silmek İstediğinize Emin Misiniz ?" : "Silinmiş Ögeyi Geri Almak İstediğinze Emin Misiniz ?",
                text: aboutItemSettingIsActive ? "Bu işlemi silerseniz ana sayfanızda gözükmez!" : "Silinmiş ögeyi geri alırsanız ana sayfanızda gözükecektir !",
                icon: "warning",
                buttons: ["İptal", aboutItemSettingIsActive ? "Sil" : "Geri Al"],
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {

                        $.ajax({
                            url: "/admin/about-item-delete",
                            type: "POST",
                            data: { id: aboutItemSettingId, isActive: !aboutItemSettingIsActive },
                            success: function(result) {
                                console.log(result);
                                if (result != null) {
                                    if (result.code == 55) {
                                        swal("Silindi ! Bu bilgiler artık anasayfanızda gözükmeyecek !", {
                                            icon: "success",
                                        }).then((value) => {
                                            location.reload();
                                        });
                                    }
                                    if (result.code == 57) {
                                        swal("Silme İşlemi Geri Alındı! Bu bilgiler artık ansayfanızda gözükecek !", {
                                            icon: "success",
                                        }).then((value) => {
                                            location.reload();
                                        });
                                    }
                                    if (result.code == 9998) {
                                        swal("Erişim Reddedildi !", {
                                            icon: "error",
                                        });
                                    }
                                    if (result.code == 56) {
                                        swal("Silinecek Eleman Bulunamadı !", {
                                            icon: "error",
                                        });
                                    }
                                }
                            }
                        });
                    } else {
                        swal(aboutItemSettingIsActive ? "Silme işlemi iptal edildi!" : "Geri alma iptal edildi!");
                    }
                });
        });

    </script>
}